@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot?t0hr0w');
	src: url('fonts/icomoon.eot?t0hr0w#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?t0hr0w') format('truetype'), url('fonts/icomoon.woff?t0hr0w') format('woff'), url('fonts/icomoon.svg?t0hr0w#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size: 32px;
}

.icon-circle:before {
	content: '\e903';
}
.icon-a:before {
	content: '\e904';
}
.icon-horizontal-right:before {
	content: '\e900';
}
.icon-horizontal-center:before {
	content: '\e901';
}
.icon-horizontal-left:before {
	content: '\e902';
}
