:root {
	/* 		global colours */
	/* grey */
	--grey1: #ffffff;
	--grey1a: #ffffff66;
	--grey2: #444444;
	--grey3: #2c2c2c;
	--grey4: #1e1e1e;
	/* blue */
	--blue1: #7cc4f8;
	--blue2: #0c8ce9;
	--blue3: #4a5878;
	--blue4: #394360;

	/* 		local colours */
	/* text */
	--text-primary: var(--grey1);
	--text-secondary: var(--grey1a);
	--solarised-text-primary: var(--blue1);
	--solarised-text-secondary: var(--blue2);
	/* background */
	--bg-primary: var(--grey3);
	--bg-secondary: var(--grey2);
	--bg-tertiary: var(--grey4);
	--focus-bg-primary: var(--blue2);
	--focus-bg-secondary: var(--blue3);
	--focus-bg-tertiary: var(--blue4);
	/* stroke */
	--stroke-primary: var(--bg-secondary);
	--focus-stroke-primary: var(--focus-bg-primary);
}

:root {
	/* 		global dimensions */
	/* width */
	--width1: 0.75rem;
	--width2: 1rem;
	--width3: 1.5rem;
	--width4: 15rem;
	--width5: 20rem;
	/* height */
	--height1: 0.75rem;
	--height2: 1.5rem;
	--height3: 2rem;
	/* padding */
	--padding1: 0.5rem;
	--padding2: 0.75rem;
	--padding3: 1rem;
	/* gap */
	--gap1: 0.5rem;
	--gap2: 0.75rem;
	/* stroke */
	--stroke1: 0.03125rem;
	--stroke2: 0.0625rem;
	/* radius */
	--radius0: 0rem;
	--radius1: 0.0625rem;
	--radius2: 0.125rem;
}

body {
	margin: 0;
	/* background-color: var(--bg-primary); */
	background-color: grey;

	font-family: 'Inter';
	color: var(--text-primary);
}

input,
textarea,
button {
	background-color: var(--bg-primary);
	color: var(--text-primary);

	font-family: Inter;
	font-size: 0.6875rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border: 0;

	height: var(--height2);
	padding: 0 var(--padding2);
	gap: var(--gap2);
	border-radius: var(--radius2);
}
button:hover {
	background-color: var(--bg-secondary);
}

button.icon {
	padding: 0;
	width: var(--width3);
}

button.dropdown_option {
	background-color: var(--bg-tertiary);
}
button.dropdown_option:hover {
	background-color: var(--focus-bg-primary);
}
/* 









*/
.material-symbols-outlined {
	font-size: 1rem;
}
/* 









*/

.select {
	background: #2a2f3b;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px #2a2f3b solid;
	border-radius: 0.5em;
	padding: 1em;
	cursor: pointer;
}

/* 
	Clicked Styles
	(added later in JavaScript)
 */
.select-clicked {
	border: 2px #26489a solid;
}

.select:hover {
	background: #323741;
}

.caret {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid white;
}

.menu {
	list-style: none;
	padding: 0.2em 0.5em;
	background: #323741;
	border: 1px #363a43 solid;
	border-radius: 0.5em;
	color: #9fa5b5;
	position: absolute;
	top: 3em;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
	opacity: 0;
	display: none;
	z-index: 1;
}

.menu li {
	padding: 0.7em 0.5em;
	margin: 0.3em 0;
	border-radius: 0.5em;
	cursor: pointer;
}

.menu li:hover {
	background: #2a2d35;
}

/* 
	Active Styles
	(added later in JavaScript)
 */
.active {
	background: #23242a;
}

/* 
	Open Styles
	(added later in JavaScript)
 */
.menu-open {
	display: block;
	opacity: 1;
}
