body {
	background-color: grey;
	/* background-color: var(--bg-primary); */
}

:root {
	/* 		global colours */
	/* grey */
	--grey1: #ffffff;
	--grey1a: #ffffff66;
	--grey2: #444444;
	--grey3: #2c2c2c;
	--grey4: #1e1e1e;
	/* blue */
	--blue1: #7cc4f8;
	--blue2: #0c8ce9;
	--blue3: #4a5878;
	--blue4: #394360;

	/* 		local colours */
	/* text */
	--text-primary: var(--grey1);
	--text-secondary: var(--grey1a);
	--solarised-text-primary: var(--blue1);
	--solarised-text-secondary: var(--blue2);
	/* background */
	--bg-primary: var(--grey3);
	--bg-secondary: var(--grey2);
	--bg-tertiary: var(--grey4);
	--focus-bg-primary: var(--blue2);
	--focus-bg-secondary: var(--blue3);
	--focus-bg-tertiary: var(--blue4);
	/* stroke */
	--stroke-primary: var(--bg-secondary);
	--focus-stroke-primary: var(--focus-bg-primary);
}

:root {
	/* 		global dimensions */
	/* width */
	--width1: 0.75rem;
	--width2: 1rem;
	--width3: 1.5rem;
	--width4: 15rem;
	--width5: 20rem;
	/* height */
	--height1: 0.75rem;
	--height2: 1.5rem;
	--height3: 2rem;
	/* padding */
	--padding0: 0rem;
	--padding1: 0.5rem;
	--padding2: 0.75rem;
	--padding3: 1rem;
	/* gap */
	--gap1: 0.5rem;
	--gap2: 0.75rem;
	/* stroke */
	--stroke1: 0.03125rem;
	--stroke2: 0.0625rem;
	/* radius */
	--radius0: 0rem;
	--radius1: 0.0625rem;
	--radius2: 0.125rem;
}

body {
	margin: 0;

	color: var(--text-primary);

	font-family: Inter;
	font-size: 0.6875rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.material-symbols-outlined {
	font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 24;
	font-size: 0.75rem;
}

.interaction-playground {
	display: flex;
	gap: 0.5rem;
}

/* buttons */
button {
	background-color: var(--bg-primary);
	color: var(--text-primary);

	font-family: Inter;
	font-size: 0.6875rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	display: flex;
	align-items: center;
	justify-content: center;

	height: var(--height2);
	padding: 0 var(--padding2);
	gap: var(--gap2);
	border: 0;
	border-radius: var(--radius2);

	cursor: pointer;
}

button.icon {
	width: var(--width3);
	padding: var(--padding0);
}

button.text.active,
button.icon.active {
	/* button.active { */
	background-color: var(--bg-secondary);
}

.material-symbols-outlined.expand-more {
	color: var(--text-secondary);
}

/* button groups */
.button-group {
	border-radius: var(--radius2);
	background: var(--bg-primary);

	display: inline-grid;
	grid-auto-columns: 1fr;

	height: fit-content;
}

/* hover outline on interactive buttons */
.button-group:hover,
button.dropdown-picker:hover {
	outline: var(--stroke2) solid var(--stroke-primary);
	outline-offset: calc(-1 * var(--stroke2));
}

.button-group.segmented-toggle button {
	grid-row: 1;
}

/* dropdown container */
.dropdown-container {
	display: grid;
}

/* dropdown option list */

.button-group.dropdown-option-list {
	outline: 0;

	padding: var(--padding1) 0;

	visibility: hidden;
	z-index: 1;
	& .dropdown-option span {
		visibility: hidden;
	}
}
.dropdown-option-list.active {
	/* display: inline-grid; */
	visibility: visible;
	& .dropdown-option.active span {
		visibility: visible;
	}
}

/* dropdown picker and option buttons */
button.dropdown-picker,
button.dropdown-option {
	justify-content: left;
}

button.dropdown-picker:hover {
	justify-content: space-between;
	& span {
		color: var(--text-primary);
	}
}

button.dropdown-option {
	border-radius: var(--radius0);
	& span {
		visibility: hidden;
	}
}

button.dropdown-option:hover {
	background-color: var(--focus-bg-primary);
}

button.dropdown-option.active {
	& span {
		visibility: visible;
	}
}
